.comment {
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}
.loading{
  width: 120px;
  
}