.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.input > input,
.input >textarea {
  width: 200px;
  height: 30px;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #333;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  padding: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
.form button {
  width: 100%;
  height: 40px;
  background-color: blueviolet;
  outline: none;
  border: 1px solid blueviolet;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
.input > input:focus,
textarea:focus {
  border: 2px solid blueviolet;
}
